* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #35424a;
    color: white;
    padding: 10px;
    font-weight: 600;
    font-size: 1.3rem;
    border-bottom: 2px solid #a9508b;
    height: 10vh;
}

.navbar__ul--li {
    display: inline-block;
    list-style-type: none;
    font-size: 1rem;
    padding-left: 1.5rem;
}

.photo {
    background-image: url("./images/showcase.jpg");
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 40vh;
    position: relative;
    color: white;
}

.photo__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.photo__text--h2 {
    font-size: 2rem;
}

.photo__text--p {
    font-size: 1rem;
    margin-top: 1rem;
    width: 100%;
}

.input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: #35424a;
    color: white;
    font-weight: 600;
    padding: 10px;
}

.input__btn {
    background-color: #e8491d;
    color: white;
    border: none;
    width: 5rem;
    padding: 5px;
}

.input__txt {
    width: 10rem;
    padding: 4px;
}

.tools {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;
    width: 100%;
    height: 30vh;
    padding: 1rem;
}

.tools__img {
    width: 20%;
    margin-bottom: 1rem;
}

.tools__html, .tools__css, .tools__graph {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
    margin: auto 1rem;
    padding-bottom: 1rem;
}

.tools__h4 {
    margin-bottom: 1rem;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #35424a;
    color: white;
    font-size: 0.7rem;
    height: 10vh;
  }
  
  .footer__img {
    width: 15%;
    margin-top: 0.5rem;
  }